* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color:rgba(0, 0, 0, 0.678); */
    /* background-color: rgba(0, 0, 0, 0.76); */
    background:rgba(0, 0, 0, 0.897);
}

.header-section {
    padding: 30px;
    text-align: center;
}

.title {
   
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.main-image {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(122, 116, 116, 0.445);
}

.main-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70%;
    height: 70%;
    box-shadow: 0px 0px 28px #fd848493;
}
 
.bio {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    width: 40rem;
}

.bio-heading {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: lighter;
}

.bio p {
    font-size: 2vmin;
    color: #dbd3d3;
    line-height: 1.4rem;
   font-family: Arial, Helvetica, sans-serif;
}